{%extends "hotel/base.html" %}
{%block header %}
<nav>
    <img src="" alt="Logo" srcset="">
    <label for="buscar">Buscar:</label>
    <input type="search" id="buscar" name="buscar" placeholder="Buscar Habitacion">
    <label for="fecha_llegada">Fecha de Llegada:</label>
    <input type="date" name="fechaLlegada" id="fecha_llegada" min="2023-04-26">
    <label for="fecha_salida">Fecha de Partida:</label>
    <input type="date" name="fechaPartida" id="fecha_salida" placeholder="Fecha de Partida">
    <label for="hora_llegada">Hora de Llegada:</label>
    <input type="time" name="horaLlegada" id="hora_llegada">
    <label for="precio_minimo">precio minimo</label>
    <input type="number" name="precioMinimo" min="0" id="precio_minimo">
    <label for="precio_maximo">precio maximo</label>
    <input type="number" name="precioMaximo" id="precio_maximo">
    {% if user %}
    <div class="photo"><img src="{ user.photo.src}" alt="foto de Perfil" sizes="50" srcset=""></div>
    {%endif%}
    <a href="{%url 'login' %}" class="nav-button">
        <p>iniciar Sesion</p>
    </a>
    <a href="{%url 'register' %}" class="nav-button">
        <p>Registarse</p>
    </a>
    
</nav>
{%endblock%}