{% extends 'hotel/barra_navegacion.html' %}

{% block main%}
{%load static%}
    <form action="{% url 'user' user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">
        <div class="block" id="user">
            <div class="block-medio" id="userdata">
                <input type="text" name="usuario" value="{{user.username_text}}" id="" required placeholder="nombre de usuario">
                <input type="email" name="correo" value="{{user.email_text}}" id="" required placeholder="correo">
                <input type="password" name="pasado_contrasena" id="" placeholder="actual contrasena">
                <input type="password" name="contrasena" id="" placeholder="nuevo contrasena">
            </div>
            <div class="block-media" id="photo">    
                <input type="file" name="foto_perfil" id="">
            </div>
            </div>
            <div class="block" style="display:none" id="cliente">
                <div class="block-medio" id="datos">
                    <input type="text" value="{{cliente.name_text}}" placeholder="Nombre(s)" name="nombre" id="nombre" required>
                    <input type="text" value="{{cliente.last_name_text}}" placeholder="apellido_paterno" name="apellido_paterno" id="">
                    <input type="text" value="{{cliente.middle_name_text}}" placeholder="apellido_materno" name="apellido_materno" id="">
                    <input type="tel" value="{{cliente.telefono_text}}" placeholder="telefono" name="telefono" id="">
                        <input type="date" value="{{cliente.formatdate}}" name="fecha_nacimiento" id="">
                </div>
                <div class="block-medio"  id="direccion">
                    <input type="number" value="{{cliente.direccion_fk.numero_externo_number}}" placeholder="no_externo" name="no_externo" id="">
                    <input type="text" value="{{cliente.direccion_fk.calle_text}}" placeholder="calle" name="calle" id="">
                    <input type="text" value="{{cliente.direccion_fk.colonia_text}}" placeholder="colonia" name="colonia" id="">
                    <input type="text" value="{{cliente.direccion_fk.ciudad_text}}" placeholder="municipio" name="municipio" id="">
                    <input type="text" value="{{cliente.direccion_fk.estado_text}}" placeholder="estado" name="estado" id="">
                    <input type="text" value="{{cliente.direccion_fk.pais_text}}" placeholder="pais" name="pais" id="">
                    <input type="text" value="{{cliente.direccion_fk.codigo_text}}" placeholder="codigo_postal" name="codigo_postal" id="">
                </div>
            </div>
            <div class="tarjeta" style="display:none" id="forma-pago">
                <input type="text" placeholder="numero de tarjeta" name="no-tarjeta" id="">
                <input type="text" placeholder="CPV" name="cvp" id="">
                <input type="text" placeholder="feche vigencia" name="feche-vigencia" id="">
                <input type="text" placeholder="titular de Cuenta" name="titular" id="">
            </div>
            <input type="button" class="btn" value="anterior" onclick="prev_page()" style="display:none" id="prev">
            <input type="button" class="btn" value="siguiente" onclick="next_page()" id="next">
            <input type="submit" class="btn-submit" value="Editar" style="display:none" id="submit">
        </form>
        <form action="{%url 'user' user.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn-logout" value="Cerrar Seccion" >
        </form>
        <form action="{%url 'user' user.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Borrar Cuenta" class="btn-borrar">
        </form>
        <script src="{% static 'javascript/register.js'%}" type="text/javascript"></script>
    {% endblock %}

    {% block footer%}
    {% include 'hotel/footer.html' %}
    {% endblock  %}
    