{%load static%}
<link rel="stylesheet" href="{% static '/css/footer.css' %}" type="text/css">
<ul>
    <div class="colum">
        <label for=""><h1>Ofertas</h1></label>
        <li>Descuentos</li>
        <li></li>
        <li></li>
        <li></li>
    </div>
    <div class="colum">
        <label for=""><h1>¿Quienes Somos?</h1></label>
        <li><h3>Telefono</h3><p><a href="tel:+528281149665">8119689643</a></p></li>
        <li><h3>Dueño</h3><p> Luis Fernando Caamal Mayor</p></li>
        <li><h3>Correo</h3><p><a href="mailto:lifrcamy@gmail.com">lifrcamy@gmail.com</a></p></li>
        <li><h3>Soperte</h3><p><a href="mailto:luis@alebrije-estudios.com">luis@alebrije-estudios.com</a></p></li>
    </div>
</ul>